USE [master]
GO
/****** Object:  Database [QuanLyKhachSan_N06_v5]    Script Date: 4/12/2026 1:02:01 PM ******/
CREATE DATABASE [QuanLyKhachSan_N06_v5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyKhachSan_N06_v5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER03\MSSQL\DATA\QuanLyKhachSan_N06_v5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyKhachSan_N06_v5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER03\MSSQL\DATA\QuanLyKhachSan_N06_v5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKhachSan_N06_v5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyKhachSan_N06_v5]
GO
/****** Object:  User [ptp]    Script Date: 4/12/2026 1:02:01 PM ******/
CREATE USER [ptp] FOR LOGIN [ptp] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[BangGiaHeader]    Script Date: 4/12/2026 1:02:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangGiaHeader](
	[maBangGia] [varchar](30) NOT NULL,
	[tenBangGia] [nvarchar](100) NULL,
	[ngayBatDau] [date] NOT NULL,
	[ngayKetThuc] [date] NOT NULL,
	[loaiNgay] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[maBangGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietBangGia]    Script Date: 4/12/2026 1:02:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBangGia](
	[maBangGia] [varchar](30) NOT NULL,
	[loaiPhong] [nvarchar](50) NOT NULL,
	[giaTheoGio] [decimal](18, 2) NULL,
	[giaQuaDem] [decimal](18, 2) NULL,
	[giaTheoNgay] [decimal](18, 2) NULL,
	[giaCuoiTuan] [decimal](18, 2) NULL,
	[giaLe] [decimal](18, 2) NULL,
	[phuThu] [decimal](18, 2) NULL,
	[maLoai] [varchar](20) NULL,
 CONSTRAINT [PK_ChiTietBangGia] PRIMARY KEY CLUSTERED 
(
	[maBangGia] ASC,
	[loaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 4/12/2026 1:02:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHoaDon] [varchar](30) NOT NULL,
	[maDichVu] [varchar](30) NOT NULL,
	[soLuong] [int] NULL,
	[donGiaLuuTru] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC,
	[maDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuDat]    Script Date: 4/12/2026 1:02:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuDat](
	[maDatPhong] [varchar](30) NOT NULL,
	[maPhong] [varchar](10) NOT NULL,
	[giaThuePhong] [decimal](18, 2) NULL,
	[ngayNhan] [datetime2](7) NOT NULL,
	[ngayTra] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maDatPhong] ASC,
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 4/12/2026 1:02:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[maDichVu] [varchar](30) NOT NULL,
	[tenDichVu] [nvarchar](100) NOT NULL,
	[donGia] [decimal](18, 2) NULL,
	[trangThai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 4/12/2026 1:02:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [varchar](30) NOT NULL,
	[ngayLap] [datetime2](7) NULL,
	[thue] [decimal](5, 2) NULL,
	[tongTienPhong] [decimal](18, 2) NULL,
	[tongTienDichVu] [decimal](18, 2) NULL,
	[maDatPhong] [varchar](30) NULL,
	[maNhanVien] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/12/2026 1:02:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [varchar](30) NOT NULL,
	[tenKhachHang] [nvarchar](100) NOT NULL,
	[diaChi] [nvarchar](255) NULL,
	[gioiTinh] [bit] NULL,
	[soDienThoai] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 4/12/2026 1:02:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[maLoai] [varchar](20) NOT NULL,
	[tenLoai] [nvarchar](50) NOT NULL,
	[moTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/12/2026 1:02:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [varchar](30) NOT NULL,
	[tenNhanVien] [nvarchar](100) NOT NULL,
	[chucVu] [nvarchar](50) NULL,
	[luongNhanVien] [decimal](18, 2) NULL,
	[phaiNhanVien] [bit] NULL,
	[soDienThoai] [varchar](15) NULL,
	[tenDangNhap] [varchar](50) NOT NULL,
	[matKhau] [varchar](255) NOT NULL,
	[vaiTro] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatPhong]    Script Date: 4/12/2026 1:02:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatPhong](
	[maDatPhong] [varchar](30) NOT NULL,
	[ngayDat] [datetime2](7) NULL,
	[trangThai] [nvarchar](30) NULL,
	[maNhanVien] [varchar](30) NULL,
	[maKhachHang] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 4/12/2026 1:02:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[maPhong] [varchar](10) NOT NULL,
	[loaiPhong] [nvarchar](50) NULL,
	[soGiuong] [int] NULL,
	[trangThai] [nvarchar](30) NULL,
	[giaPhong] [decimal](18, 2) NULL,
	[sucChua] [int] NULL,
	[giaTheoGio] [decimal](18, 2) NULL,
	[giaQuaDem] [decimal](18, 2) NULL,
	[giaCuoiTuan] [decimal](18, 2) NULL,
	[giaLe] [decimal](18, 2) NULL,
	[maLoai] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BangGiaHeader] ([maBangGia], [tenBangGia], [ngayBatDau], [ngayKetThuc], [loaiNgay]) VALUES (N'BG04', N'Bảng giá Tháng 4/2026', CAST(N'2026-04-01' AS Date), CAST(N'2026-04-30' AS Date), N'Ngày thường')
INSERT [dbo].[BangGiaHeader] ([maBangGia], [tenBangGia], [ngayBatDau], [ngayKetThuc], [loaiNgay]) VALUES (N'BG05', N'Bảng giá Tháng 5/2026', CAST(N'2026-05-01' AS Date), CAST(N'2026-05-31' AS Date), N'Ngày thường')
INSERT [dbo].[BangGiaHeader] ([maBangGia], [tenBangGia], [ngayBatDau], [ngayKetThuc], [loaiNgay]) VALUES (N'BG06', N'Bảng giá Tháng 6/2026', CAST(N'2026-06-01' AS Date), CAST(N'2026-06-30' AS Date), N'Ngày thường')
GO
INSERT [dbo].[ChiTietBangGia] ([maBangGia], [loaiPhong], [giaTheoGio], [giaQuaDem], [giaTheoNgay], [giaCuoiTuan], [giaLe], [phuThu], [maLoai]) VALUES (N'BG04', N'Deluxe', CAST(120000.00 AS Decimal(18, 2)), CAST(350000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), CAST(600000.00 AS Decimal(18, 2)), CAST(750000.00 AS Decimal(18, 2)), CAST(40000.00 AS Decimal(18, 2)), N'DLX')
INSERT [dbo].[ChiTietBangGia] ([maBangGia], [loaiPhong], [giaTheoGio], [giaQuaDem], [giaTheoNgay], [giaCuoiTuan], [giaLe], [phuThu], [maLoai]) VALUES (N'BG04', N'Standard', CAST(90000.00 AS Decimal(18, 2)), CAST(260000.00 AS Decimal(18, 2)), CAST(380000.00 AS Decimal(18, 2)), CAST(450000.00 AS Decimal(18, 2)), CAST(520000.00 AS Decimal(18, 2)), CAST(30000.00 AS Decimal(18, 2)), N'STD')
INSERT [dbo].[ChiTietBangGia] ([maBangGia], [loaiPhong], [giaTheoGio], [giaQuaDem], [giaTheoNgay], [giaCuoiTuan], [giaLe], [phuThu], [maLoai]) VALUES (N'BG04', N'Suite', CAST(150000.00 AS Decimal(18, 2)), CAST(450000.00 AS Decimal(18, 2)), CAST(650000.00 AS Decimal(18, 2)), CAST(750000.00 AS Decimal(18, 2)), CAST(900000.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), N'SUI')
GO
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maDichVu], [soLuong], [donGiaLuuTru]) VALUES (N'HD00001', N'DV001', 3, CAST(15000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maDichVu], [soLuong], [donGiaLuuTru]) VALUES (N'HD00002', N'DV005', 1, CAST(150000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[ChiTietPhieuDat] ([maDatPhong], [maPhong], [giaThuePhong], [ngayNhan], [ngayTra]) VALUES (N'DP0001', N'P102', CAST(500000.00 AS Decimal(18, 2)), CAST(N'2026-03-20T14:00:00.0000000' AS DateTime2), CAST(N'2026-03-22T12:00:00.0000000' AS DateTime2))
INSERT [dbo].[ChiTietPhieuDat] ([maDatPhong], [maPhong], [giaThuePhong], [ngayNhan], [ngayTra]) VALUES (N'DP0002', N'P301', CAST(2000000.00 AS Decimal(18, 2)), CAST(N'2026-03-21T14:00:00.0000000' AS DateTime2), CAST(N'2026-03-23T12:00:00.0000000' AS DateTime2))
INSERT [dbo].[ChiTietPhieuDat] ([maDatPhong], [maPhong], [giaThuePhong], [ngayNhan], [ngayTra]) VALUES (N'DP0003', N'P201', CAST(800000.00 AS Decimal(18, 2)), CAST(N'2026-04-01T14:00:00.0000000' AS DateTime2), CAST(N'2026-04-03T12:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[DichVu] ([maDichVu], [tenDichVu], [donGia], [trangThai]) VALUES (N'DV001', N'Nước suối', CAST(15000.00 AS Decimal(18, 2)), N'Đang kinh doanh')
INSERT [dbo].[DichVu] ([maDichVu], [tenDichVu], [donGia], [trangThai]) VALUES (N'DV002', N'Mì ly', CAST(20000.00 AS Decimal(18, 2)), N'Đang kinh doanh')
INSERT [dbo].[DichVu] ([maDichVu], [tenDichVu], [donGia], [trangThai]) VALUES (N'DV003', N'Coca Cola', CAST(25000.00 AS Decimal(18, 2)), N'Đang kinh doanh')
GO
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLap], [thue], [tongTienPhong], [tongTienDichVu], [maDatPhong], [maNhanVien]) VALUES (N'HD00001', CAST(N'2026-03-22T12:30:00.0000000' AS DateTime2), CAST(0.08 AS Decimal(5, 2)), CAST(1000000.00 AS Decimal(18, 2)), CAST(45000.00 AS Decimal(18, 2)), N'DP0001', N'NV002')
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLap], [thue], [tongTienPhong], [tongTienDichVu], [maDatPhong], [maNhanVien]) VALUES (N'HD00002', CAST(N'2026-03-23T11:45:00.0000000' AS DateTime2), CAST(0.08 AS Decimal(5, 2)), CAST(4000000.00 AS Decimal(18, 2)), CAST(150000.00 AS Decimal(18, 2)), N'DP0002', N'NV003')
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLap], [thue], [tongTienPhong], [tongTienDichVu], [maDatPhong], [maNhanVien]) VALUES (N'HD1775967603427', CAST(N'2026-04-12T11:20:02.6375893' AS DateTime2), CAST(0.08 AS Decimal(5, 2)), CAST(900000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'DP018', N'NV001')
GO
INSERT [dbo].[KhachHang] ([maKhachHang], [tenKhachHang], [diaChi], [gioiTinh], [soDienThoai]) VALUES (N'KH001', N'Nguyễn Văn An', N'TP. Hồ Chí Minh', 1, N'0981111222')
INSERT [dbo].[KhachHang] ([maKhachHang], [tenKhachHang], [diaChi], [gioiTinh], [soDienThoai]) VALUES (N'KH002', N'Trần Thị Bình', N'Hà Nội', 0, N'0982222333')
INSERT [dbo].[KhachHang] ([maKhachHang], [tenKhachHang], [diaChi], [gioiTinh], [soDienThoai]) VALUES (N'KH003', N'Lê Hoàng Cường', N'Đà Nẵng', 1, N'0983333444')
GO
INSERT [dbo].[LoaiPhong] ([maLoai], [tenLoai], [moTa]) VALUES (N'DLX', N'Deluxe', NULL)
INSERT [dbo].[LoaiPhong] ([maLoai], [tenLoai], [moTa]) VALUES (N'STD', N'Standard', NULL)
INSERT [dbo].[LoaiPhong] ([maLoai], [tenLoai], [moTa]) VALUES (N'SUI', N'Suite', NULL)
GO
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [chucVu], [luongNhanVien], [phaiNhanVien], [soDienThoai], [tenDangNhap], [matKhau], [vaiTro]) VALUES (N'NV001', N'Phan Trần Phúc', N'Quản lý', CAST(20000000.00 AS Decimal(18, 2)), 1, N'0901234567', N'admin', N'123456', N'Admin')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [chucVu], [luongNhanVien], [phaiNhanVien], [soDienThoai], [tenDangNhap], [matKhau], [vaiTro]) VALUES (N'NV002', N'Lê Văn Sỹ', N'Lễ tân', CAST(8000000.00 AS Decimal(18, 2)), 1, N'0902234567', N'sy_le', N'123456', N'User')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [chucVu], [luongNhanVien], [phaiNhanVien], [soDienThoai], [tenDangNhap], [matKhau], [vaiTro]) VALUES (N'NV003', N'Huỳnh Nhật Quang', N'Lễ tân', CAST(8500000.00 AS Decimal(18, 2)), 1, N'0903234567', N'quang_h', N'123456', N'User')
GO
INSERT [dbo].[PhieuDatPhong] ([maDatPhong], [ngayDat], [trangThai], [maNhanVien], [maKhachHang]) VALUES (N'DP0001', CAST(N'2026-03-20T00:00:00.0000000' AS DateTime2), N'DaNhanPhong', N'NV002', N'KH001')
INSERT [dbo].[PhieuDatPhong] ([maDatPhong], [ngayDat], [trangThai], [maNhanVien], [maKhachHang]) VALUES (N'DP0002', CAST(N'2026-03-21T00:00:00.0000000' AS DateTime2), N'DaNhanPhong', N'NV003', N'KH002')
INSERT [dbo].[PhieuDatPhong] ([maDatPhong], [ngayDat], [trangThai], [maNhanVien], [maKhachHang]) VALUES (N'DP0003', CAST(N'2026-03-22T00:00:00.0000000' AS DateTime2), N'ChoXacNhan', N'NV005', N'KH003')
GO
INSERT [dbo].[Phong] ([maPhong], [loaiPhong], [soGiuong], [trangThai], [giaPhong], [sucChua], [giaTheoGio], [giaQuaDem], [giaCuoiTuan], [giaLe], [maLoai]) VALUES (N'P101', N'Standard', 1, N'CHO_XAC_NHAN', CAST(500000.00 AS Decimal(18, 2)), 2, NULL, NULL, NULL, NULL, N'STD')
INSERT [dbo].[Phong] ([maPhong], [loaiPhong], [soGiuong], [trangThai], [giaPhong], [sucChua], [giaTheoGio], [giaQuaDem], [giaCuoiTuan], [giaLe], [maLoai]) VALUES (N'P102', N'Standard', 1, N'DANG_O', CAST(500000.00 AS Decimal(18, 2)), 2, NULL, NULL, NULL, NULL, N'STD')
INSERT [dbo].[Phong] ([maPhong], [loaiPhong], [soGiuong], [trangThai], [giaPhong], [sucChua], [giaTheoGio], [giaQuaDem], [giaCuoiTuan], [giaLe], [maLoai]) VALUES (N'P103', N'Standard', 2, N'CHO_XAC_NHAN', CAST(700000.00 AS Decimal(18, 2)), 4, NULL, NULL, NULL, NULL, N'STD')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HoaDon__67884E4E78D5F317]    Script Date: 4/12/2026 1:02:02 PM ******/
ALTER TABLE [dbo].[HoaDon] ADD UNIQUE NONCLUSTERED 
(
	[maDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__59267D4AB2A8BDBD]    Script Date: 4/12/2026 1:02:02 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BangGiaHeader] ADD  DEFAULT (N'Ngày thường') FOR [loaiNgay]
GO
ALTER TABLE [dbo].[DichVu] ADD  DEFAULT (N'Đang kinh doanh') FOR [trangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [ngayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0.08)) FOR [thue]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [tongTienPhong]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [tongTienDichVu]
GO
ALTER TABLE [dbo].[PhieuDatPhong] ADD  DEFAULT (getdate()) FOR [ngayDat]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT (N'Trống') FOR [trangThai]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT ((90000)) FOR [giaTheoGio]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT ((260000)) FOR [giaQuaDem]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT ((450000)) FOR [giaCuoiTuan]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT ((520000)) FOR [giaLe]
GO
ALTER TABLE [dbo].[ChiTietBangGia]  WITH CHECK ADD FOREIGN KEY([maBangGia])
REFERENCES [dbo].[BangGiaHeader] ([maBangGia])
GO
ALTER TABLE [dbo].[ChiTietBangGia]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBG_Header] FOREIGN KEY([maBangGia])
REFERENCES [dbo].[BangGiaHeader] ([maBangGia])
GO
ALTER TABLE [dbo].[ChiTietBangGia] CHECK CONSTRAINT [FK_ChiTietBG_Header]
GO
ALTER TABLE [dbo].[ChiTietBangGia]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBG_Loai] FOREIGN KEY([maLoai])
REFERENCES [dbo].[LoaiPhong] ([maLoai])
GO
ALTER TABLE [dbo].[ChiTietBangGia] CHECK CONSTRAINT [FK_ChiTietBG_Loai]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([maDichVu])
REFERENCES [dbo].[DichVu] ([maDichVu])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[ChiTietPhieuDat]  WITH CHECK ADD FOREIGN KEY([maDatPhong])
REFERENCES [dbo].[PhieuDatPhong] ([maDatPhong])
GO
ALTER TABLE [dbo].[ChiTietPhieuDat]  WITH CHECK ADD FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maDatPhong])
REFERENCES [dbo].[PhieuDatPhong] ([maDatPhong])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_Loai] FOREIGN KEY([maLoai])
REFERENCES [dbo].[LoaiPhong] ([maLoai])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_Loai]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([donGiaLuuTru]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([soLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuDat]  WITH CHECK ADD  CONSTRAINT [CHK_NgayThue] CHECK  (([ngayTra]>=[ngayNhan]))
GO
ALTER TABLE [dbo].[ChiTietPhieuDat] CHECK CONSTRAINT [CHK_NgayThue]
GO
ALTER TABLE [dbo].[ChiTietPhieuDat]  WITH CHECK ADD CHECK  (([giaThuePhong]>=(0)))
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD CHECK  (([donGia]>=(0)))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([luongNhanVien]>=(0)))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [CHK_SucChua] CHECK  (([sucChua]>(0)))
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [CHK_SucChua]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([giaPhong]>=(0)))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([soGiuong]>(0)))
GO
USE [master]
GO
